@base-color: #8D8D8D;
@light-color: lighten(@base-color, 20%);
@form-background: #FFF;

body,
input {
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: @base-color;
}

a {
    text-decoration: none;
    color: @base-color;
}

#jedi,
#padawan,
h1 {
    margin-top: 10%;
    text-align: center;
    font-size: 500%;
    font-weight: 100;
}

.links-position(@float, @color) {
    float: @float;
    p:hover {
        border-bottom: 2px solid @color;
        color: @color;
    }
}

#jedi {
    .links-position(left, red);
    margin-left: 30%;
}

#padawan {
    .links-position(right, blue);
    margin-right: 25%;
}

#jedi p,
#padawan p {
    border-bottom: 2px solid transparent;
    -webkit-transition: color 1s, border 0.5s ease-in;
    -moz-transition: color 1s, border 0.5s ease-in;
    -o-transition: color 1s, border 0.5s ease-in;
    transition: color 1s, border 0.5s ease-in;
}

.terms-left,
.terms-right,
.left,
.right {
    padding: 0;
    margin-top: 2.5%;
    font-size: 110%;
    font-weight: 200;
    letter-spacing: 1px;
}

.terms-position(@float) {
    float: @float;
    width: 49%;
}

.terms-right,
.left {
    .terms-position(right);
}

.terms-left,
.right {
    .terms-position(left);
}

.terms-left-term,
.left {
    margin-right: 10%;
    text-align: right;
}

.terms-right-term,
.right {
    margin-left: 10%;
}

.terms-value {
    color: @light-color;
    font-size: 80%;
    margin-top: 0;
}

.new-term {
    width: 50%;
    height: auto;
    margin: 5% auto;
    padding: 0;
    border: 1px solid #EEE;
}

.form-elements(@float, @width, @height, @font-size, @color) {
    float: @float;
    width: @width;
    height: @height;
    font-size: @font-size;
    border: none;
    background-color: @form-background;
    color: @color;
}

.new-term-input {
    .form-elements(left, 80%, 20px, 130%, @base-color);
    padding: 20px 0 20px 5%;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

.transition(@property, @duration, @timing-function) {
    -webkit-transition: @property @duration @timing-function;
    -moz-transition: @property @duration @timing-function;
    -ms-transition: @property @duration @timing-function;
    -o-transition: @property @duration @timing-function;
    transition: @property @duration @timing-function;
}

.new-term-submit {
    .form-elements(right, 15%, 60px, 200%, @light-color);
    .transition(color, 0.3s, ease-in);
    cursor: pointer;
    &:hover {
       color: @base-color; 
    }
}

.input-placeholder {
    .transition(all, 0.3s, ease);
    color: @light-color;
}

.new-term-input::-webkit-input-placeholder {
    .input-placeholder
}

.new-term-input::-moz-placeholder {
    .input-placeholder
}

.new-term-input::-ms-input-placeholder {
    .input-placeholder
}

.input-focus {
    color: transparent;
}

.new-term-input:focus::-webkit-input-placeholder {
    .input-focus
}

.new-term-input:focus::-moz-placeholder {
    .input-focus
}

.new-term-input:focus::-ms-input-placeholder {
    .input-focus
}