a {
    color: dimgray;
    text-decoration: none;
}

p {
    font: 500% "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    border-bottom: 2px solid transparent;
    -webkit-transition: color 1s, border 0.5s ease-in;
    -moz-transition: color 1s, border 0.5s ease-in;
    -o-transition: color 1s, border 0.5s ease-in;
    transition: color 1s, border 0.5s ease-in;
}

#jedi, #padawan {
    display: block;
    position: relative;
    text-align: center;
}

#jedi p:hover {
    color: red;
    border-bottom: 2px solid red;
}

#padawan p:hover {
    color: blue;
    border-bottom: 2px solid blue;
}

#jedi {
    margin-top: 10%;
    margin-left: 30%;
    float: left;
}

#padawan {
    margin-top: 10%;
    margin-right: 25%;
    float: right;
}

#addBlockForm {
    margin: 5% auto;
    padding: 0;
    border: 1px solid #EEE;
    width: 50%;
    height: auto;
}

.termInput {
    font-size: 130%;
    color: #8D8D8D;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFF;
    display: block;
    width: 80%;
    height: 20px;
    padding: 20px 0 20px 5%;
    border: none;
    float: left;
    outline: none;
}

.submitTermAction {
    display: block;
    height: 60px;
    width: 15%;
    border: none;
    background-color: #FFF;
    float: right;
    cursor: pointer;
    font: 200% "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #CCCCCC;
    -webkit-transition: color 0.25s ease-in;
    -moz-transition: color 0.25s ease-in;
    -o-transition: color 0.25s ease-in;
    /*transition: all 0.25s ease;*/
}

.submitTermAction:hover {
    color: #8D8D8D;
}

#addBlockForm input.termInput::-webkit-input-placeholder {
    color: #CCCCCC;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#addBlockForm input.termInput::-moz-placeholder {
    color: #CCCCCC;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#addBlockForm input.termInput::-ms-input-placeholder {
    color: #CCCCCC;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#addBlockForm input.termInput:focus::-webkit-input-placeholder {
    color: transparent;
}

#addBlockForm input.termInput:focus::-moz-placeholder {
    color: transparent;
}

#addBlockForm input.termInput:focus:-moz-placeholder {
    color: transparent;
}

#addBlockForm input.termInput:focus::-ms-input-placeholder {
    color: transparent;
}

#leftTermsColumn, #rightTermsColumn, .termsLeft, .termsRight {
    padding: 0;
    display: block;
    position: relative;
    font: 110% "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

#rightTermsColumn, .termsLeft {
    float: right;
    width: 49%;
    /*margin-top: 5%;*/
}

#leftTermsColumn, .termsRight {
    float: left;
    width: 49%;
    /*margin-top: 5%;*/
}

.termsLeft {
    margin-right: 10%;
    margin-top: 2.5%;
    color: #87CEEB;
    text-align: right;
}

.termsRight {
    margin-left: 10%;
    margin-top: 2.5%;
    color: #F08080;
}