body,
input {
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: dimgray;
}

#jedi,
#padawan,
h1 {
    margin-top: 10%;
    text-align: center;
    font-size: 500%;
    font-weight: 100;
}

#jedi {
    float: left;
    margin-left: 30%;
}

#padawan {
    float: right;
    margin-right: 25%;
}

#jedi p,
#padawan p {
    border-bottom: 2px solid transparent;
    -webkit-transition: color 1s, border 0.5s ease-in;
    -moz-transition: color 1s, border 0.5s ease-in;
    -o-transition: color 1s, border 0.5s ease-in;
    transition: color 1s, border 0.5s ease-in;
}

#jedi p:hover {
    border-bottom: 2px solid red;
    color: red;
}

#padawan p:hover {
    border-bottom: 2px solid blue;
    color: blue;
}

#leftTermsColumn,
#rightTermsColumn,
.left,
.right {
    margin-top: 2.5%;
    padding: 0;
    font-size: 110%;
    font-weight: 200;
    letter-spacing: 1px;
}

#rightTermsColumn,
.left {
    float: right;
    width: 49%;
}

#leftTermsColumn,
.right {
    float: left;
    width: 49%;
}

.termsLeft,
.left {
    margin-right: 10%;
    text-align: right;
}

.termsRight,
.right {
    margin-left: 10%;
}

.value {
    color: #CCCCCC;
    font-size: 80%;
    margin-top: 0;
}

#addBlockForm {
    width: 50%;
    height: auto;
    margin: 5% auto;
    padding: 0;
    border: 1px solid #EEE;
}

.termInput {
    float: left;
    width: 80%;
    height: 20px;
    padding: 20px 0 20px 5%;
    font-size: 130%;
    -webkit-font-smoothing: antialiased;
    border: none;
    outline: none;
    background-color: #FFF;
    color: #8D8D8D;
}

.submitTermAction {
    float: right;
    width: 15%;
    height: 60px;
    font-size: 200%;
    border: none;
    cursor: pointer;
    background-color: #FFF;
    color: #CCCCCC;
    -webkit-transition: color 0.25s ease-in;
    -moz-transition: color 0.25s ease-in;
    -o-transition: color 0.25s ease-in;
    transition: color 0.25s ease;
}

.submitTermAction:hover {
    color: #8D8D8D;
}

#addBlockForm input.termInput::-webkit-input-placeholder {
    color: #CCCCCC;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#addBlockForm input.termInput::-moz-placeholder {
    color: #CCCCCC;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#addBlockForm input.termInput::-ms-input-placeholder {
    color: #CCCCCC;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#addBlockForm input.termInput:focus::-webkit-input-placeholder {
    color: transparent;
}

#addBlockForm input.termInput:focus::-moz-placeholder {
    color: transparent;
}

#addBlockForm input.termInput:focus:-moz-placeholder {
    color: transparent;
}

#addBlockForm input.termInput:focus::-ms-input-placeholder {
    color: transparent;
}