<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/page-style.css" type="text/css">
</head>
<body>
<div id="jedi">
    <a href="/jedi">
        <p>Jedi</p>
    </a>
</div>
<div id="padawan">
    <a href="/padawan">
        <p>Padawan</p>
    </a>
</div>
</body>
</html>