<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/page-style.css" type="text/css">
</head>
<body>
<div class="addTerm">
    <form action="/jedi" method="POST" id="addBlockForm">
        <!--<div class="formItem">-->
            <input class="termInput" type="text" name=description value="" placeholder="">
        <!--</div>-->
        <!--<div class="formActions">-->
            <input class="submitTermAction" type="submit" name="" value="Добавить">
        <!--</div>-->
    </form>
</div>
<div class="allTerms">
    <% var allAnswers = terms.getAllAnswers(); %>
    <% for(var i = 0; i < allAnswers.length; i++) { %>
    <% if (allAnswers[i].value === undefined) { %>
    <div id="termsLeft">
        <%= allAnswers[i].term %>
    </div>
    <br>
    <% } else { %>
    <div id="termsRight">
        <%= allAnswers[i].term %>
    </div>
    <br>
    <% } %>
    <% } %>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/page-interactive.js"></script>
</body>
</html>